body {
    text-align: center;
    justify-content: center;
	background-color: #4775a6;

}

#score {
    white-space: pre-wrap;
}

button {
    text-align: center;
    max-width: 30vw;
    min-width: 15vw;
    border: solid black 1px;
    background-color: aqua;
    cursor: pointer;
}

#buttons {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}